/* Abbreviations! 
COT - Call to action
HFWL - How Fylo Works Link*/

/*General style*/

body {
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

button {
    background-color: hsl(198, 60%, 50%);
}

button:hover {
    background-color: hsl(176, 68%, 64%);
    cursor: pointer;
}

#sectionA {
    background-color: hsl(217, 28%, 15%);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    padding: 0.5em;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
/* All for the nav bar */
nav {
    display: flex;
    height: 200px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0 30px;
}

#logo {
    width: 160px;
    height: 52px;
    margin: 0 0 0 5%;
}
nav img {
    width: 100%;
    height: 100%;
    
}
nav ul li {
    display: inline;
    color: hsl(0, 0%, 100%);
    list-style: none;
    text-transform: capitalize;
    margin: 0;
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}
nav ul li a:hover {
    color: hsl(0, 0%, 100%);
    transition: .3s;
    cursor: pointer;
    font-weight: 700;
    text-decoration: underline;
}

/*Center Illustration*/

#maincenter > img {
    display: block;
    margin: auto;
    width: 65%;
    height: 80%;
    margin-bottom: 40px;
}

main {
    background: no-repeat url(images/bg-curvy-desktop.svg);
    background-size:cover;
    align-items: center;
    text-align: center;
    padding: 95px;
}

main p {
    padding: 5px 0 0 0;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

main button {
    margin-top: 30px;
    padding: 12px 65px 12px 65px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

/* -- FEATURES section-- */

/*

Tried using flex here... Not so nice but not that bad..

#sectionB {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.group1 {
    flex-direction: column;    
    text-align: center;
    width: 30%;
    margin: 0 50px;
    align-items: center;
}

.group2 {
    flex-direction: columm;
    text-align: center;
    width: 30%;
    margin: 0 50px;
    align-items: center;
}

.group1 div, .group2 div{
    padding-bottom: 30px;
}
*/

#sectionB {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0 150px;
    margin-bottom: 80px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;   
    width: 80%;
    text-align: center;

}

/* -- STAY PRODUCTIVE section-- */ 
#sectionC {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: auto;
    margin-bottom: 80px;
}

#sectionC > img {
    width: 60%;
}
#sectionC > div {
    text-align: justify;
    align-items: center;
    margin: 0 25px;
}

.HFWL {
    color: hsl(176, 68%, 64%);
    border-bottom: 2px solid hsl(176, 68%, 64%);
    width: fit-content;
}

.HFWL:hover {
    color: aliceblue;
    border-bottom: aliceblue;
    transform: scaleX(0.95);
    cursor: pointer;
}

/* Quotes */

#sectionD {
    padding-top: 50px;
    background: no-repeat  url(images/bg-quotes.png);
    background-position: 50px 20px;
    margin-bottom: 80px;
}
#container4quote-boxes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 30% 30% 30%;
    justify-content: space-between;
    gap: 2em;
    padding: 0 80px;
    margin-bottom: 30px;
}

.quote-box {
    background-color: hsl(219, 30%, 18%);
    justify-content: center;
    box-shadow: 10px 10px 5px hsl(217, 28%, 15%);
    border-radius: 5px;

}

.smaller-box {
    width: 80%;
    margin: auto;
}

.profile {
    display: flex;
    flex-grow: inherit;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 11px;
    margin-bottom: 10px;

}

.profile div {
    line-height: 5px;
}
.profile img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

/* SIGN UP section */

#signup {
    background-color: hsl(217, 28%, 15%);
    position: relative;
    left: 16%;
    top: 80px;
    width: 60%;
    height: max-content;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#signup input {
    width: 60%;
    height: 38px;
    border-radius: 20px;
    font-size: 13px;
    margin: 0 20px 0 0;
    border: 0;
}

#signup input::placeholder {
    padding-left: 10%;
}

#signup button {
    width: 35%;
    height: 38px;
    border-radius: 20px;
    font-weight: 400;
    color: white;
    margin-top: 10px;
    border: 0;
}

/* FOOTER secton*/

footer {
    background-color: hsl(216, 53%, 9%);
    padding: 10rem 2.5rem 10rem 2.5rem;
}

#footerlogo {
    margin-bottom: 3rem;
}

/*
.footer-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.footer-box1 {
    grid-column-start: 1;
    grid-column-end: 2;
}*/

#footer-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-boxes p{
    display: inline;
    margin: 0 0 20px 15px;
}
.footer-boxes img {
    display: inline-block;
    width: 20px;
    height: 20px;
}

.footer-box3 li, .footer-box4 li{
    margin-top: 0;
    padding-top: 0;
}
.footer-box5 img{
    display: inline-block;
    margin-right: 1.5rem;
}
.footer-box2-PE {
    display: flex;
    flex-direction: row;
}



@media only screen and (max-width:768px) {

    nav{
        transition: 1s;
        height: 100px;
        font-weight: 500;
    }

    nav ul li {
        padding: 5px;
        font-size: 1rem;
    }
    nav img {
        width: 70%;
        height: 100%;
    }
    #sectionB {
        display:grid;
        grid-template-columns: minmax(100%, 1fr);
        justify-items: center;
        padding: 5px;
    }

    .features {
        margin-bottom: 40px;
    }
    #sectionC {
        display: grid;
        width: 90%;
        justify-content: center;
    }

    #sectionC > img {
        display: block;
        padding: 5px 10px;
        width: 100%;
    }
    
    #sectionD {
        margin-bottom: 0;
    }
    #container4quote-boxes {
        display: grid;
        grid-template-columns: 100%;
        padding: 0 40px;
    }

    #signup {
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
    }
    #signup input, #signup button {
        margin: 10px 0;
        width: 80%;
    }
}